spring:
  application:
    name: TOPIC-APPROVAL-SERVICE

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${TOPIC_DB_URL}
    username: ${TOPIC_DB_USERNAME}
    password: ${TOPIC_DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 20000
      connection-init-sql: DISCARD ALL
      data-source-properties:
        preferQueryMode: simple   # hoặc thay bằng prepareThreshold: 0
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8083

#springdoc:
#  swagger-ui:
#    operationsSorter: method

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true
app:
  jwt:
    secret-base64 : ${BASE-64}